body {
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bgi {
    background-image: url('../Graphics/Data_Structures_Pic.jpg'); 
    background-size: cover;
}